/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.right {
  float:right !important;
  margin-right:20px;
  margin-top: 8px;
  font-size:  15px;
}

/*.right_link:hover {
  text-decoration: none !important;
}*/

.left {
  margin-left: 20px;
  margin-top: 8px;
  font-size: 20px;
}

.list {
display: flex;
flex-direction: column;
justify-content: space-around;
/*padding-right: 20px;*/
/*align-items: center;*/
}

.list > li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

